<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BCD Adder</title>
        <link rel="stylesheet" href="../static/css/styles.css">
            <style>
                table {
                    border-collapse: collapse;
                    width: 50%;
                    margin: 20px auto;
                }
        
                th, td {
                    border: 1px solid black;
                    text-align: center;
                    padding: 10px;
                }
        
                th {
                    background-color: #f2f2f2;
                }
            </style>
        </head>
    </head>

    <body>
        <h1>
            BCD ADDER
        </h1>
        <p>
            BCD adders are digital circuits designed to perform addition operations on BCD numbers, 
            which use a four-bit binary code to represent each decimal digit. 
            By following specific rules and utilizing binary addition circuits, 
            BCD adders ensure accurate and reliable computation of numbers. These are Binary Coded Decimals, 
            hence valid from (0-9).if result is above 9, '6' must be added to make it correct.
        </p>
        <h2>BCD Adder Circuit</h2>
        <br><br>
        <img src = "../static/assets/decimal-or-bcd-adder2.png", width = "500", height="450">
        <br><br>
        <a href = "./Simulator.html"><h2>Simulator</h2></a>
       <h2>BCD Adder Truth Table</h2>
        <table>
        <tr>
            <th>S3 (Input)</th>
            <th>S2 (Input)</th>
            <th>S1 (Input)</th>
            <th>S0 (Input)</th>
            <th>Y (Output)</th>
        </tr>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
        </tr> <tr>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
        </tr> <tr>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
        </tr> <tr>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr> <tr>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
        </tr> <tr>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
        </tr> <tr>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
        </tr> <tr>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr> <tr>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>

        </tr> <tr>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
        </tr> <tr>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr> <tr>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
        </tr> <tr>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </tr> <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
    </tr>
    </tr> <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
        <!-- Insert table rows here -->
        </table>


<br><br>
<hr>
<p>
    Now, for The six values whose sum results in greater than 9 we need to generate a Combinational Circuit.
    which adds 6 to make the Result Correct
</p>
<h2>K-Map</h2>
<img src = "../static/assets/Kmap.png", width = "300", height="350">
        </body>
</html>

