<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8-bit BCD Addition</title>
    <link rel="stylesheet" href="../static/css/simulator.css">
</head>
<body>
    <h1>BCD Addition</h1>
    <label for="input1">BCD Number 1  </label>
    <input type="text" id="input1" maxlength="8">
    <br><br>
    <label for="input2">BCD Number 2  </label>
    <input type="text" id="input2" maxlength="8">
    <br>
    <br>
    <button onclick="calculateBCD()">Calculate</button>
    <h2>Result:</h2>
    <div id="result"></div>

    <script src="../static/js/script.js"></script>
    
</body>
</html>
