body{
    margin:0;
    padding: 0;
    /* background: url("DecodeCounter.png"); */
    background-position: cover ;
    background-size: cover;
}   
.counterimg{
    padding-left: 15%;
    padding-top: 5%;
    width: 1100px;  
    /* border:1px solid black; */
    /* background-image: url('DecadeCounter.png'); */
}

.title{
    text-align: center;
    letter-spacing: 1px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.vcc{
    position: absolute;
    top: 50%;
    left: 15%;
    width: 85px;
    padding: 12px;
    border-radius: 10px;
    border:1px solid black;
    background-color: transparent;
}

.vcc:hover{
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.clk{
    position: absolute;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    border:1px solid black;
    background-color: transparent;
    top:76%;
    right: 6%;
}

.clk:hover{
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.header{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.output-btn{
    position: absolute;
    top: 35%;
    left: -8%;
    display: flex;
    margin: auto;
    height: 70px;
    width: 70vw;
    justify-content: flex-end;
    column-gap: 70px;
}

.output{
    border:1px solid black;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

