body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
